<div class="belt"></div>
<div class='container'>
  <h4>Confirm</h4>
  <div class='row'>
    <div class="field col-md-12 col-lg-12">
      <%= form_for @contact, :url => contact_thanks_path do |f| %>
      <table cellpadding="10" class="rowtable">
        <tr>
          <td>お名前</td>
          <td colspan="4">
            <%= f.hidden_field :name %>
            <%= @contact.name %>
          </td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td colspan="4">
            <%= f.hidden_field :email %>
            <%= @contact.email %>
          </td>
        </tr>
        <tr>
          <td>お問い合わせ内容</td>
          <td colspan="4">
            <%= f.hidden_field :message %>
            <%= simple_format(@contact.message) %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class><%= f.submit "送信", class: "btn btn-outline-secondary" %></td>
          <td></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>