<div class="belt"></div>
<div class='container'>
  <% if @contact.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @contact.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        history.pushState('', '', '/contact')
      });
    </script>
  <% end %>
  <h4>Contact</h4>
  <div class='row'>
    <div class="field col-md-12 col-lg-12">
      <%= form_for @contact, :url => contact_confirm_path do |f| %>
      <table cellpadding="10" class="rowtable">
        <tr>
          <td><span><%= f.label :name, "お名前" %></span><span class="regard">　＊必須</span></td>
          <td colspan="3"><%= f.text_field :name, autofocus: true, :size => "45", placeholder: "令和道子", class: "text-form" %></td>
        </tr>        <tr>
          <td><span><%= f.label :email, "メールアドレス" %></span><span class="regard">　＊必須</span></td>
          <td colspan="3"><%= f.email_field :email, :size => "45", placeholder: "michiko@email.com", class: "text-form" %></td>
        </tr>
        <tr>
          <td><span><%= f.label :message, "お問い合わせ内容" %></span><span class="regard">　＊必須</span></td>
          <td colspan="3"><%= f.text_area :message, :size => "45", placeholder: "問い合わせ内容をご記載ください", class: "text-form" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "確認", class: "btn btn-outline-secondary" %></td>
          <td></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>