<%= post.score %>
<h5><strong><%= post.title %></strong></h5>
<br>
<div class='row'>
  <div class='col-md-2 col-lg-2 d-flex align-items-center justify-content-center'>
    <%= attachment_image_tag post.user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "post-user-img" %>
  </div>
  <div class='col-md-10 col-lg-10'>
    <span><strong><%= post.user.name %></strong></span>
    <span class="date"><%= post.created_at.strftime("%Y-%m-%d %H:%M")%></span>
    <p class="text"><%= post.content %></p>
    <div id="likes_buttons_<%= post.id %>">
      <%= render 'public/favorites/btn', post: post %>
    </div>
  </div>
</div>
