<div class="belt"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <%= render 'error/new_message', model: @post %>
    <h4>New Post</h4>
    <%= form_with model: @post, local: true do |f| %>
      <table cellpadding="10" class="rowtable">
        <tr>
          <td>タイトル</td>
          <td colspan="3"><%= f.text_field :title, class: "text-form" %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td colspan="3"><%= f.text_area :content, :size=>"70", class: "text-form" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "投稿", class: "btn btn-outline-secondary" %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>