<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
      <div class="text-right"><%= link_to 'Posts', posts_path, class: "btn btn-outline-info" %></div>
    </div>
  </div>
  <h4>投稿詳細</h4>
  <br>
  <div class='row'>
    <div class='col-md-2 col-lg-2  d-flex align-items-center justify-content-center'><%= attachment_image_tag @post.user, :image, format: 'jpeg', fallback: "no_image.jpg",size:"50x50" %></div>
    <div class='col-md-8 col-lg-8'><%= @post.user.name %>さん<br><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></div>
    <% if @post.user == current_user %>
      <div class='col-md-2 col-lg-2 text-right'>
        <%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger destroy_post_#{@post.id}", local: true %>
      </div>
    <% end %>
  </div>
  <br>
  <div class='row'>
    <div class='col-md-12 col-lg-12 text'><%= @post.content %></div>
  </div>
  <br>
  <div><%= render 'public/post_comments/index', post: @post %></div>
  <br>
  <br>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
      <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
        <%= f.text_area :content, class: 'form-control' %><br>
        <%= f.submit "送信" %>
      <% end %>
    </div>
  </div>
</div>


<style>
  .text{
    overflow-wrap : break-word;
  }
</style>