<div class="belt"></div>
<div class='container'>
  <% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-md-12 col-lg-12 text-right buttons'>
      <%= link_to '一覧へ戻る', posts_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <% if @post.score <= 0.3 || @bad_words.any?{ |m| @post.content.include? m } %>
    <div onclick="obj=document.getElementById('open-post').style; obj.display=(obj.display=='none')?'block':'none';" class="text-left">
      <a style="cursor:pointer;" class="btn btn-link">この投稿はセンシティブな内容を含む可能性があります。表示しますか？</a>
    </div>
    <div id="open-post" style="display:none;clear:both;">
      <%= render 'public/posts/delete_btn', post: @post %>
      <%= render 'public/posts/content', post: @post %>
    </div>
  <% else %>
    <%= render 'public/posts/delete_btn', post: @post %>
    <%= render 'public/posts/content', post: @post %>
  <% end %>
  <div id="post_comments">
    <%= render 'public/post_comments/index', post: @post, bad_words: @bad_words %>
  </div>
  <br>
  <br>
  <div class='row'>
    <div class='col-md-12 col-lg-12' id="post_comments_form">
      <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
    </div>
  </div>
  <br>
  <% unless @post.user == current_user %>
  <div>
    <% if current_user.following?(@post.user) %>
      <%= link_to "フォローを外す", user_relationship_path(@post.user.id), method: :delete, class: "btn btn-outline-secondary" %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(@post.user.id), method: :post, class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
  <% end %>
</div>