<div class="belt-admin"></div>
<div class='container'>
  <h4>Chatting with <%= @entries.find{ |e| e.user_id != @user.id }.user.name %></h4>
  <% if @entries.find{ |e| e.user_id != @user.id }.user.introduction.present? %>
    <div class="balloon"><%= @entries.find{ |e| e.user_id != @user.id }.user.introduction %></div><br>
  <% end %>
  <button class="btn btn-link arrowbtn">
    <i class="fa fa-arrow-down arrow"></i>
  </button>
  <% @messages.each do |message| %>
  <div class='row chat-box'>
    <div class='col-md-2 col-lg-2 d-flex align-items-center justify-content-center'>
      <%= attachment_image_tag message.user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "chat-user-img" %>
    </div>
    <div class='col-md-10 col-lg-10 text-left'>
      <span><strong><%= message.user.name %></strong></span>
      <span class="date"><%= message.created_at.strftime("%Y-%m-%d %H:%M")%></span>
      <p><%= message.content %></p>
    </div>
  </div>
  <% end %>
</div>