<!--<h2>Log in</h2>-->

<!--<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<!--    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
<!--    <%#= f.password_field :password, autocomplete: "current-password" %>-->
<!--  </div>-->

<!--  <%# if devise_mapping.rememberable? %>-->
<!--    <div class="field">-->
<!--      <%#= f.check_box :remember_me %>-->
<!--      <%#= f.label :remember_me %>-->
<!--    </div>-->
<!--  <%# end %>-->

<!--  <div class="actions">-->
<!--    <%#= f.submit "Log in" %>-->
<!--  </div>-->
<!--<%# end %>-->

<!--<%#= render "users/shared/links" %>-->
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>

<div class="container" style="margin-top: 50px;">
  <h4 class="m-5"><span class="bg-light">ログイン</span></h4>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <p class="col-sm-2"></p>
    <p class="col-sm-2">メールアドレス</p>
    <div class="field col-sm-8">
      <%= f.email_field :email, autofocus: true, :size => "45*30", autocomplete: "email" %>
    </div>
  </div>

  <div class="row">
    <p class="col-sm-2"></p>
    <p class="col-sm-2">パスワード</p>
    <div class="field col-sm-8">
      <%= f.password_field :password, :size => "45*30", autocomplete: "current-password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="row mt-4">
    <p class="col-sm-4"></p>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  </div>
  <% end %>

  <div class="row mt-4">
    <p class="col-sm-4"></p>
    <div class="actions col-sm-8">
      <%= f.submit "ログイン", class: "btn btn-outline-primary" %>
    </div>
  </div>
  <% end %>
  <br>
  <div class="row">
    <p class="col-sm-2"></p>
    <p class="col"><%= render "users/shared/links" %></p>
  </div>
</div>