<div class="belt"></div>
<div class='container'>
  <h4>Chatting with <%= @entries.find{ |e| e.user_id != current_user.id }.user.name %></h4>
  <% if @entries.find{ |e| e.user_id != current_user.id }.user.introduction.present? %>
    <div class="balloon"><%= @entries.find{ |e| e.user_id != current_user.id }.user.introduction %></div><br>
  <% end %>
  <button type="button" class="btn btn-link" onclick="hoge();">
    <i class="fa fa-arrow-down arrow"></i>
  </button>
  <div id="messages">
    <%= render @messages %>
  </div>
  <br>
  <div class='row'>
    <div class='col-md-10 col-lg-10'>
      <% if @entries.find{ |e| e.user_id != current_user.id }.user.is_valid %>
        <form>
          <label>新規メッセージ(Enterで送信):</label><br>
          <input type="text" data-behavior="room_speaker" data-user="<%= current_user.id %>" data-room="<%= @room.id %>" size="45">
        </form>
      <% else %>
        <p><%= @entries.find{ |e| e.user_id != current_user.id }.user.name %>さんとのチャットは終了しました</p>
      <% end %>
    </div>
  </div>
</div>


<script>
function hoge(){
  var elm = document.documentElement;
  var bottom = elm.scrollHeight - elm.clientHeight;
  window.scroll(0, bottom);
}
</script>
