<div class='container'>
  <!--<h4><%# @entries.each do |e| %><%#= e.user.name %>さん&emsp;<%# end %>のチャットルーム</h4>-->
  <h4><%= @entries.find{ |e| e.user_id != current_user.id }.user.name %>さんとのチャットルーム</h4>
  <hr>
  <div>
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if m.user == current_user %>
          <div class='row'>
            <div class='col-md-10 col-lg-10 text-right'>
              <p class="balloon"><%= m.content %></p>
              <p class="date"><%= m.created_at.strftime("%Y-%m-%d %H:%M")%></p>
            </div>
            <div class='col-md-1 col-lg-1 d-flex align-items-center justify-content-center'>
              <%= attachment_image_tag m.user, :image, format: 'jpeg', fallback: "no_image.jpg",size:"50x50" %>
            </div>
          </div>
        <% else %>
          <div class='row'>
            <div class='col-md-1 col-lg-1 d-flex align-items-center justify-content-center'>
              <%= attachment_image_tag m.user, :image, format: 'jpeg', fallback: "no_image.jpg",size:"50x50" %>
            </div>
            <div class='col-md-10 col-lg-10 text-left'>
              <p class="balloon"><%= m.content %></p>
              <p class="date"><%= m.created_at.strftime("%Y-%m-%d %H:%M")%></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br>
  <div>
    <%= form_for @message do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
    </div>
</div>

<style>
  .balloon {
   position: relative;
   display: inline-block;
   padding: 10px;
   min-width: 120px;
   max-width: 45%;
   color: #555;
   font-size: 15px;
   background: #e0edff;
   border-radius: 15px;
   overflow-wrap : break-word;
 }
 .date{
   font-size: 10px;
 }
 .row{
   margin-top: 30px;
 }
</style>
