<div class='row usages'>
  <div class='col-md-4 col-lg-4'>
    <div class="icons">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-hand-paper fa-stack-1x fa-inverse"></i>
      </span>
    </div>
  </div>
  <div class='col-md-8 col-lg-8'>
    <p>
      <strong>「支援が必要」な方</strong><br>
      Requestから依頼をお寄せください。
      依頼内容はサイト上で公開されます。必須項目以外への入力は公開しても差し支えない範囲でご入力ください。
      「支援したい」との連絡はチャットで来ます。依頼時に宛先など無記載の場合は、個別に支援者に伝えてください。
      配送されたら、依頼編集画面でステータスを「完了」にしてください。
      ご利用には会員登録が必要です。
    </p>
    <div class="text-right"><%= link_to 'Request', new_request_path, class: "btn btn-outline-secondary" %></div>
  </div>
</div>

<div class='row usages'>
  <div class='col-md-4 col-lg-4'>
    <div class="icons">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
      </span>
    </div>
  </div>
  <div class="col-md-8 col-lg-8">
    <p>
      <strong>「支援したい」方</strong><br>
      Supportから支援したい依頼を選択し、依頼詳細ページから依頼者とのチャットをスタートさせてください。
      支援したい旨を伝え、依頼者と合意しましたら、詳細ページ記載の宛先（記載がない場合はチャット上で伝えられた宛先）に郵送してください。
      配送に掛かる費用は支援者がご負担ください。
      ご利用には会員登録が必要です。
    </p>
    <div class="text-right"><%= link_to 'Support', requests_path, class: "btn btn-outline-secondary" %></div>
  </div>
</div>

<div class='row usages'>
  <div class='col-md-4 col-lg-4'>
    <div class="icons">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-people-carry fa-stack-1x fa-inverse"></i>
      </span>
    </div>
  </div>
  <div class="col-md-8 col-lg-8">
    <p>
      <strong>企業・行政などのご担当者</strong><br>
      SupportMatchではこれまでに<%= @requests.count %>件の依頼が寄せられました。
      うち<%= @requests_done.count %>件が支援者の方々により解決しています。
      本サービスの趣旨にご賛同いただける場合は、ぜひご協力をご検討ください。
      これまでにお届けが完了した依頼一覧はMoreから会員登録なしでご覧いただけます。
    </p>
    <div class="text-right"><%= link_to 'More', result_path, class: "btn btn-outline-secondary" %></div>
  </div>
</div>


<style>
.usages{
  margin: 30px 0;
  height:  250px;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

i{
  color: #75c5b5;
}
</style>