<div class="belt"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
      <h4>Results</h4>
      <table cellpadding="10" class='table table-hover table-inverse rowtable-index'>
        <thead>
          <tr class="tr-border" style="background-color: #EEEEEE;">
            <th colspan="1">依頼日</th>
            <th>物品名</th>
            <th>数量</th>
            <th>緊急性</th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
            <tr class="tr-border">
              <td><%= request.created_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td data-title="物品名"><%= truncate(request.item) %></td>
              <td data-title="数量"><%= truncate(request.quantity) %></td>
              <td data-title="緊急性"><%= request.urgency_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination"><%= paginate @requests %></div>
    </div>
  </div>
</div>