<div class="top">
  <img src="assets/topimage.jpg" alt="topimage">
  <p id="animation">Survive Together</p>
</div>
<div class='container'>
  <div class="row">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-10 col-lg-10 top-content">
      <p>SupportMatchは女性を対象とした
      <br>災害時の「支援したい」「支援が必要」をつなぐ<br>マッチングサービスです
      <br><%= link_to 'More', about_path, class: "btn btn-outline-secondary" %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 top-content2">
      <div class="content-left">
        <div class="icons fade-in fade-in-up">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-hands-helping fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <p>「支援が必要」な方は依頼内容をお寄せください。「支援したい」方は依頼一覧をご覧いただき、依頼者とチャット上でやり取りをした上で、伝えられた希望配送先にご郵送ください。</p>
        <br>
        <div class="text-center">
          <span style="margin-right: 30px;"><%= link_to 'Support', requests_path, class: "btn btn-outline-secondary" %></span>
          <span><%= link_to 'Request', new_request_path, class: "btn btn-outline-secondary" %></span>
        </div>
      </div>
      <div class="content-center">
        <div class="icons fade-in fade-in-up">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <p>被災下の孤独感や問題の解消につなげる場として、不安や悩み、困りごとなどを共有・相談いただけます。平時は、これまでの災害で感じたことや体験を共有する場としてもご活用いただけます。</p>
        <br>
        <div class="text-center">
          <span style="margin-right: 30px;"><%= link_to 'Posts', posts_path, class: "btn btn-outline-secondary" %></span>
          <span><%= link_to 'New', new_post_path, class: "btn btn-outline-secondary" %></span>
        </div>
      </div>
      <div class="content-right">
        <div class="icons fade-in fade-in-up">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <p>SupportMatchはハラスメントと疑われる行為や差別的な言葉に対し、厳しく対応いたします。そうした言動が見受けられましたら、管理者までご連絡ください。ほか、ご不明点やご懸念などもあればお寄せください。</p>
        <br>
        <div class="text-center">
          <span><%= link_to 'Contact', contact_path, class: "btn btn-outline-secondary" %></span>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  let fadeInTarget = document.querySelectorAll('.fade-in');
  window.addEventListener('scroll', () => {
    for (let i = 0; i < fadeInTarget.length; i++){
      const rect = fadeInTarget[i].getBoundingClientRect().top;
      const scroll = window.pageYOffset || document.documentElement.scrollTop;
      const offset = rect + scroll;
      const windowHeight = window.innerHeight;
      if (scroll > offset - windowHeight + 150) {
        fadeInTarget[i].classList.add('scroll-in');
      }
    }
  });
</script>