<div class='container'>
  <div class="row content">
    <div class="col-md-1 col-lg-1"></div>
    <h1 class="col-md-5 col-lg-5">Supportmatch</h1>
    <div class="col-md-5 col-lg-5">
      <h5>説明文---------------------------------------------------------------------------------------------------------------------</h5>
      <br>
      <div class="text-right"><%= link_to 'More', about_path, class: "btn btn-outline-primary" %></div>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-1 col-lg-1"></div>
    <h1 class="col-md-5 col-lg-5">OurService</h1>
    <div class="col-md-5 col-lg-5">
      <h5>説明文---------------------------------------------------------------------------------------------------------------------</h5>
      <br>
      <div class="text-right">
        <span style="margin-right: 30px;"><%= link_to 'Request', new_request_path, class: "btn btn-outline-danger" %></span>
        <span><%= link_to 'Support', requests_path, class: "btn btn-outline-success" %></span>
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-1 col-lg-1"></div>
    <h1 class="col-md-5 col-lg-5">Community</h1>
    <div class="col-md-5 col-lg-5">
      <h5>説明文---------------------------------------------------------------------------------------------------------------------</h5>
      <br>
      <div class="text-right">
        <span style="margin-right: 30px;"><%= link_to 'Posts', posts_path, class: "btn btn-outline-info" %></span>
        <span><%= link_to 'New', new_post_path, class: "btn btn-outline-warning" %></span>
      </div>
    </div>
  </div>
</div>

<style>
  .content{
    margin: 100px auto;
  }
</style>