<div class="belt-admin"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <% if @user.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          history.pushState('', '', location.href + '/edit')
        });
      </script>
    <% end %>
    <h4>Edit user</h4>
    <br>
    <br>
    <%= form_with model: @user,url: admins_user_path(@user), local: true do |f| %>
      <table cellpadding="10" class="rowtable">
        <tr>
          <td>
            <div class="edit-user-img text-center">
              <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "user-img" %>
            </div>
          </td>
          <td colspan="3">
            <%= f.attachment_field :image, class: "user-img-btn" %>
          </td>
        </tr>
        <tr>
          <td>会員ID</td>
          <td colspan="3"><%= @user.id %></td>
        </tr>        <tr>
          <td>氏名</td>
          <td colspan="3"><%= f.text_field :name, class: "text-form" %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td colspan="3"><%= f.text_field :email, class: "text-form" %></td>
        </tr>
        <tr>
          <td>一言</td>
          <td colspan="3"><%= f.text_area :introduction, :size => "45", class: "text-form" %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td colspan="3">
            <span><%= f.radio_button :is_valid, :true %><%= f.label :true, "有効" %></span>&emsp;&emsp;
            <span><%= f.radio_button :is_valid, :false %><%= f.label :false, "退会" %></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "　編集内容を保存　", class: "btn btn-outline-secondary" %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>