<div class="belt-admin"></div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <h4>Users</h4>
    <table cellpadding="10" class='table table-hover table-inverse'>
      <thead>
        <tr style="background-color: #EEEEEE;">
          <th>会員ID</th>
          <th colspan="2">名前</th>
          <th colspan="2">メールアドレス</th>
          <th>依頼数</th>
          <th>投稿数</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
    　　<% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td colspan="2"><%= link_to truncate(user.name, length:25), admins_user_path(user), class: "btn btn-link" %></td>
          <td colspan="2"><%= truncate(user.email, length:25) %></td>
          <td><%= user.requests.count %></td>
          <td><%= user.posts.count %></td>
          <td>
            <% if user.is_valid %>
              <div>有効</div>
            <% else %>
              <div style="color: gray;">退会</div>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <!--<div class="pagination"><%#= paginate @users %></div>-->
    </div>
  </div>
</div>


<style>
  table{
    table-layout: fixed;
    width: 100%;
    /*margin-top: 20px;*/
  }
  tr{
    border-width: 1px 0;
    border-color: #CCCCCC;
    border-style: solid;
  }
  /*.pagination{*/
  /*  justify-content: center;*/
  /*  padding-top: 10px;*/
  /*}*/
</style>