<div class="belt-admin"></div>
<div class='container'>
  <h4>User info</h4>
  <div class="text-right"><%= link_to '編集する', edit_admins_user_path(@user), class: "btn btn-outline-secondary" %></div>
  <div class='row admin-user-table'>
    <div class='col-md-4 col-lg-4 d-flex align-items-center justify-content-center'>
      <div><%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "user-img" %></div>
    </div>
    <div class='col-md-8 col-lg-8'>
      <table cellpadding="10" class="user-info">
        <tr class="tr-border">
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr class="tr-border">
          <td>表示名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr class="tr-border">
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr class="tr-border">
          <td>一言</td>
          <td><%= @user.introduction %></td>
        </tr>
        <tr class="tr-border">
          <td>ステータス</td>
          <td>
            <% if @user.is_valid %>
              <div>有効</div>
            <% else %>
              <div style="color: gray;">退会</div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 col-lg-12 admin-flowers'>
      <div class="img">
        <%= link_to admins_her_rooms_path do %>
          <%= image_tag "pinkflower2.jpg" %>
          <div class="admin-mask">
            <p>チャット一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to admins_her_requests_path(@user) do %>
          <%= image_tag "greenflower.jpg" %>
          <div class="admin-mask">
            <p>依頼履歴一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to admins_her_posts_path(@user) do %>
          <%= image_tag "blueflower.jpg" %>
          <div class="admin-mask">
            <p>投稿一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to admins_user_followings_path(@user) do %>
          <%= image_tag "yellowflower.jpg" %>
          <div class="admin-mask">
            <p>フォロー一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to admins_user_followers_path(@user) do %>
          <%= image_tag "orangeflower.jpg" %>
          <div class="admin-mask">
            <p>フォロワー一覧</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>