<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
      <h4>ユーザー詳細</h4>
      <br>
      <br>
      <div class><%= link_to '編集する', edit_admins_user_path(@user), class: "btn btn-outline-success" %></div>
    </div>
  </div>
  <br>
  <div class='row'>
    <div class='col-md-2 col-lg-2 d-flex align-items-center justify-content-center'>
      <div><%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg",size:"50x50" %></div>
    </div>
    <div class='col-md-10 col-lg-10'>
      <table cellpadding="10">
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr class="item">
          <td>一言</td>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td>
            <% if @user.is_valid %>
              <div style="color: green;">有効</div>
            <% else %>
              <div style="color: gray;">退会</div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <br>
</div>


<style>
  table{
    table-layout: fixed;
    width: 70%;
    margin-top: 20px;
  }
  tr{
    border-width: 1px 0;
    border-color: #CCCCCC;
    border-style: solid;
  }
</style>
