<div class="belt"></div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <% if @request.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          history.pushState('', '', location.href + '/edit')
        });
      </script>
    <% end %>
    <h4>Edit Request</h4>
    <br>
    <br>
    <%= form_with model: @request, local: true do |f| %>
      <table cellpadding="10">
        <tr>
          <td>緊急性</td>
          <td colspan="3">
            <span><%= f.radio_button :urgency, :high %><%= f.label :high, "高い" %></span>&emsp;&emsp;
            <span><%= f.radio_button :urgency, :middle %><%= f.label :middle, "やや高い" %></span>&emsp;&emsp;
            <span><%= f.radio_button :urgency, :low %><%= f.label :low, "低い" %></span>
          </td>
        </tr>
        <tr>
          <td>種別</td>
          <td colspan="3">
            <span><%= f.radio_button :genre, :other %><%= f.label :other, "その他" %></span>&emsp;&emsp;
            <span><%= f.radio_button :genre, :sanitary %><%= f.label :sanitary, "生理用品" %></span>&emsp;&emsp;
            <span><%= f.radio_button :genre, :cloth %><%= f.label :cloth, "下着・衣類" %></span>&emsp;&emsp;
            <span><%= f.radio_button :genre, :hygiene %><%= f.label :hygiene, "衛生用品・化粧品" %></span>&emsp;&emsp;
            <span><%= f.radio_button :genre, :child %><%= f.label :child, "子ども用品" %></span>
          </td>
        </tr>
        <tr>
          <td>物品名</td>
          <td><%= f.text_field :item %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>数量</td>
          <td><%= f.text_field :quantity %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>コメント</td>
          <td><%= f.text_area :comment, :size=>"70" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postal_code %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>宛先</td>
          <td colspan="3"><%= f.text_field :location, :size=>"70" %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td colspan="2">
            <span><%= f.radio_button :is_done, :false %><%= f.label :false, "依頼中" %></span>&emsp;&emsp;
            <span><%= f.radio_button :is_done, :true %><%= f.label :true, "お届け完了" %></span>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "変更を保存", class: "btn btn-outline-secondary" %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>

<style>
  table{
    table-layout: fixed;
    width: 100%;
  }
</style>
