<div class="belt"></div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <h4>Requests</h4>
    <div class="text-right buttons"><%= link_to '依頼する', new_request_path, class: "btn btn-outline-secondary" %></div>
    <br>
    <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';" class="text-right">
      <a style="cursor:pointer;"><i class="fas fa-search"></i></a>
    </div>
    <div id="open" style="display:none;clear:both;">
      <div class="text-right search-btn">
        <%= search_form_for @q, url: search_requests_path do |f| %>
          <%= f.label :genre, '<種別>' %>
          <%= f.radio_button :genre, '' %>指定しない&emsp;
          <%= f.radio_button :genre, :other %><%= f.label :other, "その他" %>&emsp;
          <%= f.radio_button :genre, :sanitary %><%= f.label :sanitary, "生理用品" %>&emsp;
          <%= f.radio_button :genre, :cloth %><%= f.label :cloth, "下着・衣類" %>&emsp;
          <%= f.radio_button :genre, :hygiene %><%= f.label :hygiene, "衛生用品・化粧品" %>&emsp;
          <%= f.radio_button :genre, :child %><%= f.label :child, "子ども用品" %><br>
          <%= f.search_field :item_or_location_or_name_or_postal_code_or_comment_cont, placeholder: "検索ワードを入力" %>
          <%= f.submit 'Search' %>
        <% end %>
      </div>
    </div>
    <table cellpadding="10" class='table table-hover table-inverse jscroll'>
      <thead>
        <tr style="background-color: #EEEEEE;">
          <th><%= sort_link(@q, :created_at, "依頼日", default_order: :desc) %></th>
          <th>物品名</th>
          <th>数量</th>
          <th><%= sort_link(@q, :urgency, "緊急性", default_order: :desc) %></th>
         <th><%= sort_link(@q, :impressions_count, "閲覧数", default_order: :desc) %></th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |request| %>
          <% if request.user.is_valid? %>
          <tr>
            <td><%= link_to request.created_at.strftime("%Y-%m-%d %H:%M"), request_path(request), class: "btn btn-link request_#{request.id}" %></td>
            <td><%= request.item %></td>
            <td><%= request.quantity %></td>
            <td><%= request.urgency_i18n %></td>
            <td><%= request.impressions_count %></td>
          </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <!--<div class="pagination"><%#= paginate @requests %></div>-->
    </div>
  </div>
</div>


<style>

  table{
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
  }
  tr{
    border-width: 1px 0;
    border-color: #CCCCCC;
    border-style: solid;
  }
  .pagination{
    justify-content: center;
    padding-top: 10px;
  }
  .search-btn{
    margin-top: 10px;
  }
  i{
    color: #75c5b5;
    font-size: 30px;
  }
</style>