<div class="belt"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <h4>Requests</h4>
    <div class="text-right buttons"><%= link_to '依頼する', new_request_path, class: "btn btn-outline-secondary" %></div>
    <br>
    <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';" class="text-left">
      <a style="cursor:pointer;"><i class="fas fa-search loupe"></i></a>
    </div>
    <div id="open" style="display:none;clear:both;">
      <div class="text-left search-btn">
        <%= search_form_for @q, url: search_requests_path do |f| %>
          <%= f.label :urgency_eq, '<緊急性>' %>
          <%= f.radio_button :urgency_eq, '' %>指定しない&emsp;
          <%= f.radio_button :urgency_eq, 0 %><%= f.label :high, "高い" %>&emsp;
          <%= f.radio_button :urgency_eq, 1 %><%= f.label :middole, "やや高い" %>&emsp;
          <%= f.radio_button :urgency_eq, 2 %><%= f.label :low, "低い" %><br>
          <%= f.label :genre_eq, '<種別>' %>
          <%= f.radio_button :genre_eq, '' %>指定しない&emsp;
          <%= f.radio_button :genre_eq, 0 %><%= f.label :other, "その他" %>&emsp;
          <%= f.radio_button :genre_eq, 1 %><%= f.label :sanitary, "生理用品" %>&emsp;
          <%= f.radio_button :genre_eq, 2 %><%= f.label :cloth, "下着・衣類" %>&emsp;
          <%= f.radio_button :genre_eq, 3 %><%= f.label :hygiene, "衛生用品・化粧品" %>&emsp;
          <%= f.radio_button :genre_eq, 4 %><%= f.label :child, "子ども用品" %><br>
          <%= f.search_field :item_or_location_or_name_or_postal_code_or_comment_cont, placeholder: "(例)神奈川県" %>
          <%= f.submit '検索', class: "btn btn-sm btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
    <table cellpadding="10" class='table table-hover table-inverse jscroll request-index-table rowtable-index'>
      <thead>
        <tr style="background-color: #EEEEEE;" class="tr-border">
          <th colspan="2"><%= sort_link(@q, :created_at, "依頼日", default_order: :desc) %></th>
          <th colspan="2">物品名</th>
          <th colspan="2">数量</th>
          <th><%= sort_link(@q, :urgency, "緊急性", default_order: :desc) %></th>
         <th><%= sort_link(@q, :impressions_count, "閲覧数", default_order: :desc) %></th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |request| %>
          <% if request.user.is_valid? %>
          <tr class="tr-border">
            <td colspan="2"><%= link_to request.created_at.strftime("%Y-%m-%d %H:%M"), request_path(request), class: "btn btn-link request_#{request.id}" %></td>
            <td colspan="2" data-title="物品名"><%= truncate(request.item) %></td>
            <td colspan="2" data-title="数量"><%= truncate(request.quantity) %></td>
            <td data-title="緊急性"><%= request.urgency_i18n %></td>
            <td data-title="閲覧数"><%= request.impressions_count %></td>
          </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>