<div class="belt"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <% if @request.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          history.pushState('', '', location.href + '/new')
        });
      </script>
    <% end %>
    <h4>New Request</h4>
    <%= form_with model: @request, local: true do |f| %>
      <table cellpadding="10">
        <tr>
          <td><span>緊急性</span><span class="regard">　＊必須</span></td>
          <td colspan="3">
            <span><%= f.radio_button :urgency, :high %><%= f.label :high, "高い" %></span>&emsp;&emsp;
            <span><%= f.radio_button :urgency, :middle %><%= f.label :middle, "やや高い" %></span>&emsp;&emsp;
            <span><%= f.radio_button :urgency, :low %><%= f.label :low, "低い" %></span>
          </td>
        </tr>
        <tr>
          <td><span>種別</span><span class="regard">　＊必須</span></td>
          <td colspan="3">
            <span><%= f.radio_button :genre, :other %><%= f.label :other, "その他" %></span>&emsp;&emsp;
            <span><%= f.radio_button :genre, :sanitary %><%= f.label :sanitary, "生理用品" %></span>&emsp;&emsp;
            <span><%= f.radio_button :genre, :cloth %><%= f.label :cloth, "下着・衣類" %></span>&emsp;&emsp;
            <span><%= f.radio_button :genre, :hygiene %><%= f.label :hygiene, "衛生用品・化粧品" %></span>&emsp;&emsp;
            <span><%= f.radio_button :genre, :child %><%= f.label :child, "子ども用品" %></span>
          </td>
        </tr>
        <tr>
          <td><span>物品名</span><span class="regard">　＊必須</span></td>
          <td><%= f.text_field :item, placeholder: "生理用品" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><span>数量</span><span class="regard">　＊必須</span></td>
          <td><%= f.text_field :quantity, placeholder: "10パック" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>コメント</td>
          <td><%= f.text_area :comment, :size=>"70", placeholder: "羽付き、多い日の昼用を希望。メーカー不問。" %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>郵便番号(数字のみ)</td>
          <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>宛先</td>
          <td colspan="3"><%= f.text_field :location, :size=>"70", placeholder: "東京都渋谷区代々木神南0-0" %></td>
        </tr>
        <tr>
          <td>電話番号(数字のみ)</td>
          <td><%= f.text_field :phone_number, placeholder: "09012345678" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, placeholder: "michiko@email.com" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, placeholder: "令和道子" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "依頼を投稿", class: "btn btn-outline-secondary" %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>