<div class="belt"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <h4>Search</h4>
    <div class="text-right buttons"><%= link_to '一覧へ戻る', requests_path, class: "btn btn-outline-secondary" %></div>
    <table cellpadding="10" class='table table-hover table-inverse request-index-table rowtable-index'>
      <thead>
        <tr style="background-color: #EEEEEE;" class="tr-border">
          <th colspan="1">依頼日</th>
          <th>物品名</th>
          <th>数量</th>
          <th>緊急性</th>
          <th><%= sort_link(@q, :impressionist_count, "閲覧数") %></th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |request| %>
        <tr class="tr-border">
          <td><%= link_to request.created_at.strftime("%Y-%m-%d %H:%M"), request_path(request), class: "btn btn-link request_#{request.id}" %></td>
          <td data-title="物品名"><%= request.item %></td>
          <td data-title="数量"><%= request.quantity %></td>
          <td data-title="緊急性"><%= request.urgency_i18n %></td>
          <td data-title="閲覧数"><%= request.impressions_count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>