<div class="belt"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
      <h4>Request Info</h4>
      <div class='text-right buttons'><%= link_to '一覧へ', requests_path, data: {"turbolinks" => false}, class: "btn btn-outline-secondary" %></div>
      <table cellpadding="10" class="show-request-table">
        <tr class="tr-border">
          <th>依頼人</th>
          <td colspan="3"><%= @request.user.name %></td>
        </tr>
        <tr class="tr-border">
          <th>依頼日</th>
          <td colspan="3"><%= @request.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr class="tr-border">
          <th>緊急性</th>
          <td colspan="3"><%= @request.urgency_i18n %></td>
        </tr>
        <tr class="tr-border">
          <th>種別</th>
          <td colspan="3"><%= @request.genre_i18n %></td>
        </tr>
        <tr class="tr-border">
          <th>物品名</th>
          <td colspan="3"><%= @request.item %></td>
        </tr>
        <tr class="tr-border">
          <th>数量</th>
          <td colspan="3"><%= @request.quantity %></td>
        </tr>
        <tr class="tr-border">
          <th>コメント</th>
          <td colspan="3"><%= @request.comment %></td>
        </tr>
        <tr class="tr-border">
          <th>郵便番号</th>
          <td colspan="3"><%= @request.postal_code %></td>
        </tr>
        <tr class="tr-border">
          <th>宛先</th>
          <td colspan="3"><%= @request.location %></td>
        </tr>
        <tr class="tr-border">
          <th>宛名</th>
          <td colspan="3"><%= @request.name %></td>
        </tr>
        <tr class="tr-border">
          <th>電話番号</th>
          <td colspan="3"><%= @request.phone_number %></td>
        </tr>
        <tr class="tr-border">
          <th>メールアドレス</th>
          <td colspan="3"><%= @request.email %></td>
        </tr>
      </table>
      <br>
      <% if @user.id == current_user.id %>
        <span style="margin-right: 30px;"><%= link_to '編集する', edit_request_path(@request), class: "btn btn-outline-secondary" %></span>
        <span><%= link_to '依頼を削除', request_path(@request), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger destroy_request_#{@request.id}", local: true %></span>
      <% else %>
          <% if @is_room == true %>
            <p class="user-show-room"><a href="/rooms/<%= @room_id %>" class="btn btn-outline-secondary", data-turbolinks="false">チャットへ</a></p>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "チャットを始める", data: {"turbolinks" => false}, class:"btn btn-outline-secondary user-show-chat"%>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>