<div class="belt-admin"></div>
<div class='container'>
  <% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <p>ログインしてください</p>
    </div>
  <% end %>
  <h4 class="m-5">Admin Login</h4>
  <div class='row'>
    <div class="col-md-2 col-lg-2"></div>
    <div class="field col-md-10 col-lg-10">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table cellpadding="10" class="rowtable">
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, :size => "45", autocomplete: "email", class: "text-form" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード" %></td>
          <td><%= f.password_field :password, :size => "45", autocomplete: "current-password", class: "text-form" %></td>
        </tr>
        <tr>
          <td></td>
          <td class><%= f.submit "ログイン", class: "btn btn-outline-secondary" %></td>
          <td></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>