<div class="belt"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <%= render 'error/edit_message', model: @user %>
    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>
    <h4>Edit Mypage</h4>
    <br>
    <br>
    <%= form_with model: @user, local: true do |f| %>
      <table cellpadding="10" class="rowtable">
        <tr>
          <td>
            <div class="edit-user-img text-center">
              <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "user-img" %>
            </div>
          </td>
          <td colspan="3"><%= f.attachment_field :image, class: "user-img-btn" %></td>
        </tr>
        <tr>
          <td>表示名</td>
          <td colspan="3"><%= f.text_field :name, class: "text-form" %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td colspan="3"><%= f.text_field :email, class: "text-form" %></td>
        </tr>
        <tr>
          <td>一言</td>
          <td colspan="3"><%= f.text_area :introduction, :size => "45", class: "text-form" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "　編集内容を保存　", class: "btn btn-outline-secondary" %></td>
          <td><%= link_to "　退会する　", users_unsubscribe_path, class: "btn btn-outline-danger" %></td>
          <td></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>