<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <h4>会員情報編集</h4>
    <br>
    <br>
    <%= form_with model: @user, url: users_edit_path, local: true do |f| %>
      <table cellpadding="10">
        <tr>
          <td>アイコン</td>
          <td><%= f.attachment_field :image %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :name %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>一言</td>
          <td colspan="3"><%= f.text_area :introduction, :size => "45" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "　編集内容を保存　", class: "btn btn-outline-success" %></td>
          <td><%= link_to "　退会する　", users_unsubscribe_path, class: "btn btn-outline-danger" %></td>
          <td></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>

<style>
  table{
    table-layout: fixed;
    width: 100%;
  }
</style>
