<div class="belt"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <% if @user.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h4>Edit Mypage</h4>
    <br>
    <br>
    <%= form_with model: @user, local: true do |f| %>
      <table cellpadding="10">
        <tr>
          <td>
            <div class="item-image text-center">
              <%#= attachment_image_tag @user, :image, class: "img-square", fallback: "no_image.jpg", size:"50x50" %>
              <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "user-img" %>
            </div>
          </td>
          <td><%= f.attachment_field :image %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>表示名</td>
          <td><%= f.text_field :name %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>一言</td>
          <td colspan="3"><%= f.text_area :introduction, :size => "45" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "　編集内容を保存　", class: "btn btn-outline-secondary" %></td>
          <td><%= link_to "　退会する　", users_unsubscribe_path, class: "btn btn-outline-secondary" %></td>
          <td></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>

<style>
  .user-img{
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  table{
    table-layout: fixed;
    width: 100%;
  }
  .item-image{
    height: 150px;
  }
</style>