<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
      <h4>マイページ</h4>
      <br>
      <br>
      <div><%= link_to '編集する', edit_user_path(@user), class: "btn btn-outline-success" %></div>
    </div>
  </div>
  <br>
  <div class='row'>
    <div class='col-md-2 col-lg-2 d-flex align-items-center justify-content-center'>
      <div><%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg",size:"50x50" %></div>
    </div>
    <div class='col-md-10 col-lg-10'>
      <table cellpadding="10">
        <tr class="item">
          <td>氏名</td>
          <td colspan="3"><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td colspan="3"><%= @user.email %></td>
        </tr>
        <tr class="item">
          <td>一言</td>
          <td colspan="3"><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class='col-md-12 col-lg-12'>
    <span class="button"><%= link_to 'チャット一覧', rooms_path, class: "btn btn-outline-primary" %></span>
    <span class="button"><%= link_to '依頼履歴一覧', her_requests_path(@user), class: "btn btn-outline-info" %></span>
    <span class="button"><%= link_to 'フォロー一覧', user_followings_path(@user), class: "btn btn-outline-warning" %></span>
    <span class="button"><%= link_to 'フォロワー一覧', user_followers_path(@user), class: "btn btn-outline-danger" %></span>
    <span class="button"><%= link_to '投稿一覧', her_posts_path(@user), class: "btn btn-outline-success posts_my_posts_#{@user.id}" %></span>
  </div>
</div>


<style>
  table{
    table-layout: fixed;
    width: 70%;
    margin-top: 20px;
  }
  tr{
    border-width: 1px 0;
    border-color: #CCCCCC;
    border-style: solid;
  }
  .button{
    margin-right: 30px;
  }
</style>
