<div class="belt"></div>
<div class='container'>
  <h4>MyPage</h4>
  <div class="text-right"><%= link_to '編集する', edit_user_path(@user), class: "btn btn-outline-secondary" %></div>
  <div class='row user-table'>
    <div class='col-md-4 col-lg-4 d-flex align-items-center justify-content-center'>
      <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "user-img" %>
    </div>
    <div class='col-md-8 col-lg-8'>
      <table cellpadding="10" class="user-info">
        <tr>
          <td>表示名</td>
          <td colspan="2"><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス（非公開）</td>
          <td colspan="2"><%= @user.email %></td>
        </tr>
        <tr>
          <td>一言</td>
          <td colspan="2"><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 col-lg-12 flowers'>
      <div class="img">
        <%= link_to rooms_path do %>
          <%= image_tag "pinkflower2.jpg" %>
          <div class="mask">
            <p>チャット一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to her_requests_path(@user) do %>
          <%= image_tag "greenflower.jpg" %>
          <div class="mask">
            <p>依頼履歴一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to her_posts_path(@user) do %>
          <%= image_tag "blueflower.jpg" %>
          <div class="mask">
            <p>投稿一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to user_followings_path(@user) do %>
          <%= image_tag "yellowflower.jpg" %>
          <div class="mask">
            <p>フォロー一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to user_followers_path(@user) do %>
          <%= image_tag "orangeflower.jpg" %>
          <div class="mask">
            <p>フォロワー一覧</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<style>
  td{
   overflow-wrap : break-word;
  }
  .user-table{
    margin-top: 50px;
  }
  .user-img{
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  .user-info{
    table-layout: fixed;
    width: 100%;
  }
  tr{
    border-width: 1px 0;
    border-color: #CCCCCC;
    border-style: solid;
  }
  .button{
    margin-right: 30px;
  }
  .flowers{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .flowers img{
    height: 180px;
    width: 180px;
    border-radius: 130px;
    object-fit: cover;
    overflow:	hidden;
	  position: relative;
  }
  .flowers .img p{
	  text-align: center;
	  padding-top: 80px;
	  color: #fff;
  }
  .mask {
	  width: 180px;
	  height:	180px;
    border-radius: 130px;
	  position: absolute;
	  top: 0;
	  left: 15;
	  opacity: 0;
	  background-color:	rgba(0,0,0,0.4);
	  -webkit-transition:	all 0.2s ease;
	  transition:		all 0.2s ease;
  }
  .img:hover .mask {
	  opacity: 1;
  }
</style>