<div class="belt"></div>
<div class='container'>
  <h4>MyPage</h4>
  <div class="text-right"><%= link_to '編集する', edit_user_path(@user), class: "btn btn-outline-secondary" %></div>
  <div class='row user-table rowtable'>
    <div class='col-md-4 col-lg-4 d-flex align-items-center justify-content-center'>
      <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "user-img" %>
    </div>
    <div class='col-md-8 col-lg-8'>
      <table cellpadding="10" class="user-info">
        <tr class="tr-border">
          <td>表示名</td>
          <td colspan="2"><%= @user.name %></td>
        </tr>
        <tr class="tr-border">
          <td>メールアドレス</td>
          <td colspan="2"><%= @user.email %></td>
        </tr>
        <tr class="tr-border">
          <td>一言</td>
          <td colspan="2"><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 col-lg-12 flowers'>
      <div class="img">
        <%= link_to rooms_path do %>
          <%= image_tag "pinkflower2.jpg" %>
          <div class="mask">
            <p>チャット一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to her_requests_path(@user) do %>
          <%= image_tag "greenflower.jpg" %>
          <div class="mask">
            <p>依頼履歴一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to her_posts_path(@user) do %>
          <%= image_tag "blueflower.jpg" %>
          <div class="mask">
            <p>投稿一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to user_followings_path(@user) do %>
          <%= image_tag "yellowflower.jpg" %>
          <div class="mask">
            <p>フォロー一覧</p>
          </div>
        <% end %>
      </div>
      <div class="img">
        <%= link_to user_followers_path(@user) do %>
          <%= image_tag "orangeflower.jpg" %>
          <div class="mask">
            <p>フォロワー一覧</p>
          </div>
        <% end %>
      </div>
      <div class="blank"></div>
    </div>
  </div>
</div>