<!DOCTYPE html>
<html>
  <head>
    <title>SupportMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d2fff909d3.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <main>
        <%= yield %>
      </main>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>


<style>
  .wrapper{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }
  main{
    margin: 50px;
  }
</style>